html, body {
  height: 100%;
}
#containerBox{
    position: relative;
    left:10%;
    top: 0%;
    width: 800px; 
    height: 500px; 
}

background: linear-gradient(
  135deg,
  #0f2027,
  #1f3b4d,
  #d4af37
);